<html><head>

</head>
<body>

<table style="
    width: 400px;
    text-align: center;
    font-family: Calibri,Arial,sans-serif;
    font-size: 18px;
">
  <tbody><tr>
    <th style="
    border-bottom: 3px solid #608BB1;
"><img src="https://image.ibb.co/gBaUSw/puertacontrol_small.png" alt="puertacontrol_small" border="0"></th>
  </tr>
  <tr>
    <td style="
    font-weight: 700;
    font-size: 22px;
">ALERTA</td>
  </tr>
  
<tr>
    <td style="
    border-bottom: 1px solid #608BB1;
">La habitación #NO# fue abierta el #FECHA# por fuera de los horarios permitidos.</td>
  </tr><tr>
    <td style="font-size: 6px;font-weight: 600;">&nbsp;</td>
  </tr>
<tr>
    <td style="
    font-size: 14px;
">Cualquier inquietud, estaremos dispuesto a solucionarla</td>
  </tr><tr>
    <td style="font-size: 14px;font-weight: 600;">tudesarrolloo@gmail.com - 313 704 9824</td>
  </tr>
</tbody></table>



</body></html>